

.header-button-custom,
.header-button-custom .icon:before{
  font-size: 14px !important;
}
.icon_test {
  font-size: 48px;
  color: #ffffff;
}

.home_image { 
  max-width: 70%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.bigProfilePicture {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
.bigProfilePicture img { 
  width: 100%;
  height: auto;
}

/*side menu image*/
.menu_profilePicture {
  margin-right: auto;
  margin-left: auto;
}

.menu_profileName {
  text-align: center
}



/**/
/* Crop selection */
 .jr-crop-select { border: 1px solid #0f0; } 
.bar.bar-transparent {
  background-color: transparent;
  background-image: none;
  border: none;
}
.bar .title {
  color: #eee;
}

.swipe-cards {
  height: 100%;
  position: relative;
}

.swipe-card {
  display: none;
  position: absolute;
  -webkit-transform: scale(1,1);
  left: 0%;
  top: 0%;
  width: 95%;
  height: 95%;
  margin-left: 2.5%;
  margin-top:  2.5%;
  margin-bottom: 2.5%
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;

  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
}

.swipe-card .title {
  height: 40px;
  padding: 5px;
  line-height: 30px;
  color: #444;
}
.swipe-card .image {
  overflow: hidden;
  height: 50%;
}
.swipe-card .button {
  border: none;
}
.swipe-card .image img {
  width: 100%;
  border-radius: 4px 4px 4px 4px;
}

.swipe-card .faculty {
  border-bottom: 1px solid #999999;
/*  position:fixed;
  left:0px;
  bottom:50px;*/
  height:50px;
  width:100%;
  background-color: #fff;
  border-radius: 4px 4px 0px 0px;
}

.swipe-card .footer-buttonBar {
    height:50px;
    width:100%;
    border-radius: 0px 0px 4px 4px;
}


@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}


.background {
    background: #999999;
    /*background: white;*/
    background-size: 100% 100%;
      /*background: url("background/abstract.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: 100% 100%;*/
}

.transparent {
  background-color: transparent;
  margin-top:  50%;
  margin-left: 5%;
  width: 90%;
}

.transparentChat {
  background-color: transparent;
  margin-top:  10%;
  margin-left: 5%;
  width: 90%;
}

.close-button {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 1.8em;
  text-align: center;
  z-index: 10;
  background-color: #f5f5f5;
  border-radius: 30px;
  width: 26px;
  cursor: pointer;
  line-height: 0;
  border: 1px solid #ddd;
}


#intro-card {
  color: #fff;
  height: 70%;
  background-color: #666666;
  line-height: 200px;
  word-wrap: break-word;
  border: 6px solid #7f7f7f;
  text-align: center;
}
#intro-card-span {
  display: inline-block;
  line-height: 40px;
  width: 250px;
  font-size: 20px;
  vertical-align: middle;
}


img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.message {
  white-space: normal;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.cf {
  clear: both !important;
}