<ion-view title="Go meet your date!" class="background" ng-init="initPage()">

    <ion-nav-buttons side="right">
        <button class="button button-icon header-button-custom" ng-click="getOutOfDate()">
            <i class="icon ion-android-close"></i>
        </button>
    </ion-nav-buttons>

    <ion-content padding="true" scroll="true" has-bouncing="true" class="has-header">
        

        <div class="list card">
            <div class="item item-avatar">
                <img src="{{date.profilePicture}}">
                <h2>{{date.name}}</h2>
                <h4>{{date.faculty}}</h4>
            </div>
            <div class="item item-divider"><h4>{{date.firstName}} is waiting for you at {{date.meetingPlace}}</h4></div>
        </div>
        <div class="list card" style="width: 100%; height: 200px;">
            <div style="text-align:center" ng-if="messages.length == 0">
                <p style="text-align:center;color:gray">Temporarily chat with {{date.firstName}}</p>
                <i class="icon ion-loading-a" ng-show="chatParams.fetchingPrevMsgs"></i>
            </div>
            <ion-scroll ng-if="messages.length > 0" style="width: 100%; max-height:198px; overflow:visible;">

                <div ng-repeat="message in messages" class="message-wrapper">

                    <div ng-if="message.userName != date.name">
                        <img class="profile-pic right" ng-src="data:image/jpeg;base64,{{userPic}}"/>
                        <div class="chat-bubble right">
                            <div class="message" ng-bind-html="message.text" autolinker>
                            </div>
                        </div>
                    </div>

                    <div ng-if="message.userName == date.name">
                        <img class="profile-pic left" ng-src="{{date.profilePicture}}"/>
                        <div class="chat-bubble left">
                            <div class="message" ng-bind-html="message.text" autolinker>
                            </div>
                        </div>
                    </div>

                    <div class="cf"></div>

                </div>
            </ion-scroll>
        </div>

        <!-- TODO-remove?	<h3 style="text-align:center;color:white">Did you find your date?</h3> -->
        <button class="button button-block button-positive" ng-click="confirmMeeting()">I have found my date!</button>

    </ion-content>
    <form name="sendMessageForm" ng-submit="sendChatMessage()" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
                <textarea ng-model="chatParams.lastMessage" value=""
                          placeholder="Send {{date.firstName}} a short message..." required minlength="1"
                          maxlength="30" msd-elastic></textarea>
            </label>
            <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                        ng-disabled="(!chatParams.lastMessage) || (chatParams.lastMessage === '')">
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
