<ion-modal-view title="You have a date!" class="background">

    <ion-content padding="true" scroll="true">
        <div class="spacer" style="height: 2%"></div>
        <h2 style="text-align:center; color:white"><b>You have a date!</b></h2>

        <div class="list card">
            <div class="item item-avatar">
                <img src="img\icon.jpg">
                <h2>Mysterious date</h2>
            </div>

            <div class="item item-image" >
                <img src="img\icon.jpg" style="width:100%;height: auto">
            </div>

            <div class="item item-icon-left assertive">
                <i class="icon ion-coffee"></i>
                Mysterious match is waiting!
            </div>

        </div>

    </ion-content>

    <ion-footer-bar class = "background" style="height: 10% !important;">
        <div class="button-bar">
            <button class="button button-large button-assertive icon ion-close-round"  ng-click="declineDateButtonHandler()" style="border-radius: 4px; border-width: 1px;">
                Decline
            </button>
            <div class="spacer" style="width: 2.5vh"></div>
            <button class="button button-large button-balanced icon ion-checkmark-round"  ng-click="confirmDateButtonHandler()" style="border-radius: 4px; border-width: 1px;">
                Confirm
            </button>
        </div>
    </ion-footer-bar>

</ion-modal-view>