<ion-view hide-back-button="false" title="Edit profile details" class="background" ng-init="initializePage()">
    <ion-content padding="true" scroll="true" has-bouncing="true">

        <label class="item item-input item-select">
            <div class="input-label">My Gender</div>
            <select data-ng-options="item for item in genders" data-ng-model="userDetails.gender">
            </select>
        </label>

        <label class="item item-input item-select">
            <div class="input-label">
                Faculty
            </div>
            <select data-ng-options="item for item in faculties" data-ng-model="userDetails.faculty">
            </select>
        </label>

        <label class="item">
         <span class="input-label">Age: {{userDetails.age}}</span>
            <div class="range">
            <i>13</i>
                <input type="range" name="age" ng-model="userDetails.age" min="13" max="37" value="25">
            <i>37</i>
          </div>
        </label>

        <div class="spacer" style="height: 2vh"></div>

        <div class="card" ng-click="onTapProfilePicture()">
            <div style="text-align:center" class="item item-divider">Tap to change your profile picture</div>
            <div class="item item-text-wrap">
                <div align="center" class="bigProfilePicture">
                    <img ng-show="profilePicture !== undefined" ng-src="data:image/jpeg;base64,{{profilePicture}}" >
                    <img ng-show="profilePicture === undefined" ng-src="{{(userDetails.gender == 'MALE') ? ('img/generic_profile/male.jpg') : ('img/generic_profile/female.jpg')}}">
                </div>
            </div>
        </div>

    </ion-content>

    <ion-footer-bar class = "background" style="height: 10% !important;">
        <div class="button-bar">
            <button class="button button-large button-assertive icon ion-close-round"  ng-click="discardChanges()" style="border-radius: 4px; border-width: 1px;">
                Discard
            </button>
            <div class="spacer" style="width: 2.5vh"></div>
            <button class="button button-large button-balanced icon ion-checkmark-round"  ng-click="submitChanges()"
                    style="border-radius: 4px; border-width: 1px;">
                Submit
            </button>
        </div>
    </ion-footer-bar>

</ion-view>
