<ion-view class="background" title="Find People!" hide-back-button="true" ng-init="initFindPeopleCtrl();">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

		<ion-header-bar align-title="left" class="bar-stable bar-subheader">
			<h1 class="title" ng-show="flags.isDateSuggestionConfirmed">Waiting for date confirmation</h1>
			<div class="buttons" ng-show="flags.isDateSuggestionConfirmed">
		    	<button class="button button-icon header-button-custom" ng-click="regretDateConfirmation()">
			    <i align="right" class="icon ion-android-close"></i>
				</button>
			</div>
			<!-- Hide availability toggle when waiting for date confirmation -->
			<ion-pane ng-show="!flags.isDateSuggestionConfirmed">
			<ion-toggle class= "bar" toggle-class="toggle-balanced" ng-model="flags.availabilityToggle" ng-checked="flags.availabilityToggle" ng-disabled="invisibiltyStatus.isInvisible" ng-change="availabilityStatusChange()" style="border: none; margin:0px">
	   	 		<h2 align="left">{{availableStatusMap[flags.availabilityToggle]}}</h2>
			</ion-toggle>
			</ion-pane>
		</ion-header-bar>

	<!-- Content to show when there are no profiles -->
	<ion-content has-header="true" has-subheader="true" padding="false" scroll="true" ng-show="profileFlags.noProfiles">
		<ion-refresher pulling-text="Pull and release for additional partners!" refreshing-text="Retrieving additional matches..." on-refresh="refreshCards()" on-pulling="refreshPull()">
			</ion-refresher>

			<div align="center" ng-show="refreshFlags.showRefreshText">
				<h5>Pull and release for additional partners!</h5>
				<i class="icon ion-chevron-down"></i>
			</div>

			<!-- TODO - make this more pretty -->
			<div align="center" ng-show="refreshFlags.showFailureText" style="margin-top:100px;">
				<h4>Failed connecting to server!</h4>
				<h5>Check your network connection and please try again later</h5>
			</div>

			<!-- TODO - make this more pretty -->
			<div align="center" ng-show="refreshFlags.showNoProfilesText && !refreshFlags.showFailureText" style="margin-top:100px;">
				<h4>No available profiles in server!</h4>
				<h5>Please try again later</h5>
			</div>
	</ion-content>

	<!-- Content to show when there are profiles available -->
	<ion-content has-header="true" has-subheader="true" padding="false" scroll="false" ng-show="!profileFlags.noProfiles">
	    <swipe-cards>
			<swipe-card ng-if="invisibiltyStatus.isInvisible" ng-repeat="card in invisCards" on-destroy="invisCardDestroyed($index)" on-card-swipe="invisCardSwiped()">
				<div class="item item-divider">
						<h2>{{card.title}}</h2>
					    <p>{{card.subtitle}}!</p>
				</div>
				<div id="intro-card">
							<span id="intro-card-span"> {{card.mainMsg}}</span>
							<h5><span style="color:white">{{card.footerMsg}}</span> </h5>
				</div>
	        	<ion-footer-bar class="footer-buttonBar item-divider">
					<div class="button-bar">
		            	<button class="button button-clear button-positive" >
		            		<i class=ion-close-circled></i>Dislike
		            	</button>
		            	<button class="button button-clear button-positive">
		            		<i class=ion-checkmark-circled></i>Like
		            	</button>
		        	</div>
	         	</ion-footer-bar>  
	     	</swipe-card>
		 	<swipe-card ng-if="!invisibiltyStatus.isInvisible" ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
		        <div ng-controller="CardCtrl">
					<div class="item item-divider" ng-show="card.age == undefined">
						<h2>{{card.name}}</h2>
					    <p>{{card.faculty}}</p>
					</div>
					<div class="item item-divider" ng-show="!(card.age == undefined)">
						<h2>{{card.name}}, {{card.age}}</h2>
					    <p>{{card.faculty}}</p>
					</div>

					<div class="image item item-body">
						<img class="full-image" ng-src="data:image/jpeg;base64,{{card.profilePicture}}">
					</div>

					<ion-footer-bar class="footer-buttonBar item-divider">
						<div class="button-bar">
			            	<button class="button button-clear button-positive" ng-click="cardResponse(false)">
			            		<i class=ion-close-circled></i>Dislike
			            	</button>
			            	<button class="button button-clear button-positive" ng-click="cardResponse(true)">
			            		<i class=ion-checkmark-circled></i>Like
			            	</button>
			        	</div>
		         	</ion-footer-bar>  
		        </div>
		    </swipe-card>
		</swipe-cards>
	</ion-content>
</ion-view>