<ion-view class="background" title="Find People!" hide-back-button="true" ng-init="initFindPeopleIntroCtrl();">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	 <ion-toggle class= "bar bar-subheader" toggle-class="toggle-balanced" ng-model="flags.availabilityToggle" ng-checked="flags.availabilityToggle" ng-change="availabilityIntroStatusChange()" style="border: none; margin:0px">
   	 		<h2 align="left">{{availableStatusMap[flags.availabilityToggle]}}</h2>
	  </ion-toggle>

	<!-- Content to show when there are profiles available -->
   	<ion-content class="has-subheader" padding="false" scroll="false">
		<swipe-cards>
			<swipe-card ng-repeat="card in introCards" on-destroy="cardDestroyed($index)" on-card-swipe="introCardSwiped(card.index)">
				<div class="item item-divider">
						<h2>{{card.title}}</h2>
					    <p>{{card.subtitle}}!</p>
				</div>
				<div id="intro-card">
							<span id="intro-card-span"> {{card.mainMsg}}</span>
							<h5><span style="color:white">{{card.footerMsg}}</span> </h5>
				</div>
	        	<ion-footer-bar class="footer-buttonBar item-divider">
					<div class="button-bar">
		            	<button class="button button-clear button-positive" ng-click="introCardResponse()">
		            		<i class=ion-close-circled></i>Dislike
		            	</button>
		            	<button class="button button-clear button-positive" ng-click="introCardResponse()">
		            		<i class=ion-checkmark-circled></i>Like
		            	</button>
		        	</div>
	         	</ion-footer-bar>  
	     	</swipe-card>
		</swipe-cards>
	</ion-content>	


</ion-view>