<ion-view title="Set-up Meeting Place" class="background" ng-init="initPage()">

    <ion-nav-buttons side="right">
          <button class="button button-icon header-button-custom" ng-click="getOutOfDate()">
              <i class="icon ion-android-close"></i>
          </button>
    </ion-nav-buttons>

    <ion-content padding="true" scroll="true" has-bouncing="true" class="has-header">

        <div class="list card">
            <div class="item item-avatar">
                <img src="img\icon.jpg">
                <h2>{{date.name}}</h2>
                <h4>{{date.faculty}}</h4>
            </div>

            <div class="item item-image" >
                <img src="{{date.profilePicture}}" style="width:50%;height:30%">
            </div>

            <div class="item item-icon-left assertive" ng-show="flags.suggestToken">
                <i class="icon ion-coffee"></i>
                <div ng-show="flags.locationSuggested == undefinedMeetingPlace">
                    <h2 style="text-align:justify">You were chosen to <br> suggest a meeting place</h2>
                </div>
                <div ng-show="flags.locationSuggested != undefinedMeetingPlace">
                    <h2 style="text-align:justify">Meeting place is chosen.</h2>
                </div>
            </div>
            <div class="item item-icon-left assertive" ng-hide="flags.suggestToken">
                <i class="icon ion-coffee"></i>
                <div ng-show="flags.locationSuggested == undefinedMeetingPlace">
                    <h2 style="text-align:justify">Please wait for your date to <br> suggest a meeting place</h2>
                </div>
                <div ng-show="flags.locationSuggested != undefinedMeetingPlace">
                    <h2 style="text-align:justify">Meeting place is chosen.</h2>
                </div>
            </div>
        </div>

        <!-- User with token -->
        <div ng-show="flags.suggestToken">
            <div ng-show="flags.locationSuggested == undefinedMeetingPlace">
                <label class="item item-input item-select">
                    <div class="input-label">
                      Meet at:
                    </div>
                    <select data-ng-options="item for item in places" data-ng-model="selectValues.chosenLocation" ng-change="showOtherLocationInputIfNeeded(selectValues.chosenLocation)">
                        <option value="">Please Select...</option>
                    </select>
                </label>

                <label class="item item-input" ng-show="showOtherLocationInput">
                  <!-- TODO - DECIDE IF WE WANT AUTOCOMPLETE HERE -->
                  <!--<input type="text" placeholder="Type location here" ng-placesautocomplete ng-model="selectValues.otherMeetingPlace">-->
                  <input type="text" placeholder="Type location here" ng-model="selectValues.otherMeetingPlace">
                </label>

                <button class="button button-block button-balanced icon-left ion-checkmark-round" ng-click="suggestLocation()">
                    Suggest meeting place!
                </button>
            </div>

            <div ng-show="(flags.locationSuggested != undefinedMeetingPlace)">
                <div class="card">
                    <div class="item item-text-wrap" align="center">
                        <i class="icon ion-loading-a"></i>
                        Please wait for your date to confirm location...
                    </div>
                </div>
            </div>

        </div>

        <!-- User without token -->
        <div ng-show="(!flags.suggestToken) && (flags.locationSuggested != undefinedMeetingPlace)">
            <div class="card">
                <div class="item item-divider">
                    <h2 style="text-align:center">Your date suggested to meet at:</h2>
                </div>
                <div class="item item-text-wrap" align="center">
                    {{flags.locationSuggested}}
                </div>
            </div>
            <div ng-hide="hideResponseButtons">
                <button class="button button-block button-balanced icon ion-checkmark-round"  ng-click="respondLocationSuggestion(true)" style="border-radius: 4px; border-width: 1px;">
                    OK, let's go!
                </button>
                <div class="spacer" style="width: 2.5vh"></div>
                <button class="button button-block button-assertive icon ion-close-round"  ng-click="respondLocationSuggestion(false)" style="border-radius: 4px; border-width: 1px;">
                    Decline (Suggest other place)
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
