<ion-side-menus ng-init="initMenu()">

    <ion-side-menu-content class="background">
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu id="appSideMenu" side="left" class="background">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Profile & Settings</h1>
        </ion-header-bar>

        <ion-content>
            <cropped-image id="profilePictureID" class="menu_profilePicture" imageSrc="loadedProfile.profilePicture" heightPercentage="20"></cropped-image>
            <h4 align="center" style="color: #ffffff">{{loadedProfile.name}}</h4>
            <h5 align="center">You have <span class="badge badge-assertive">{{loadedProfile.pendingMatches}}</span> pending matches</h5>

            <div class="item item-divider">Settings</div>
            <ion-list>
                <!-- Note - One can add "nav-clear" tag to each ion-item if we want to clear navigation
                (will cause hidden back button) -->
                <ion-item menu-close href="#/editProfile">
                    <i class="icon ion-person"></i>
                    Edit profile
                </ion-item>
                <ion-item menu-close href="#/preferences">
                    <i class="icon ion-gear-b"></i>
                    Preferences
                </ion-item>
            </ion-list>
            <div class="item item-divider">Misc</div>
            <ion-list> 
                <ion-item menu-close href="#/introduction">
                    <i class="icon ion-map"></i>
                    Tutorial
                </ion-item>
                <ion-item menu-close ng-click="shareStudate()">
                    <i class="icon ion-share"></i>
                    <!--<i class="icon ion-android-share"></i>-->
                    Share stuDate!
                </ion-item>
                <ion-item menu-close ng-click="logout()">
                    <i class="ion-log-out"></i>
                    Logout
                </ion-item>

                <div ng-show="debug" class="item item-divider">Debug Menu</div>
                <div ng-show="debug">
                    <ion-item menu-close href="#/app/test" menu-close>
                        old testing zone
                    </ion-item>
                    <ion-item menu-close href="#/meetingPlace">
                        Meeting place
                    </ion-item>
                    <ion-item menu-close href="#/signUp">
                        Sign-Up
                    </ion-item>
                    <ion-item menu-close ng-click="signOut()">
                        Sign-Out
                    </ion-item>
                    <ion-item menu-close ng-click="openDateConfirmationModal()">
                        Open Modal
                    </ion-item>
                </div>
            </ion-list>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>
