<ion-view hide-back-button="false" title="Preferences" class="background" ng-init="initializePage()">
    <ion-content>
        <div class="spacer" style="height: 5vh"></div>

        <ul class="list">
            <li>
                <label class="item item-input item-select">
                    <div class="input-label">Preferred Gender</div>
                    <select data-ng-options="item for item in gendersOptions" data-ng-model="userPreferences.genderPreference">
                    </select>
                </label>
            </li>
            <ion-toggle toggle-class="toggle-balanced" ng-model="userPreferences.isInvisible" ng-checked="userPreferences.isInvisible">
                Invisibility Mode
            </ion-toggle>
                
            <li>
                <label class="item">
                    <h5>When invisibile - your profile is not shown to new students</h5>
                </label>
            </li>
        </ul>

    </ion-content>

    <ion-footer-bar class = "background" style="height: 10% !important;">
        <div class="button-bar">
            <button class="button button-large button-assertive icon ion-close-round"  ng-click="discardChanges()" style="border-radius: 4px; border-width: 1px;">
                Discard
            </button>
            <div class="spacer" style="width: 2.5vh"></div>
            <button class="button button-large button-balanced icon ion-checkmark-round"  ng-click="submitChanges()" style="border-radius: 4px; border-width: 1px;">
                Submit
            </button>

        </div>
    </ion-footer-bar>
</ion-view>
