<ion-view title="Sign-Up (Setup Profile)" class="background" class="background">
    <ion-content direction="y" padding="true" scroll="true" has-bouncing="true">
        <div ng-hide="registrationCompleted">
            <div class="list" style="background-color:white">
                <label class="item item-input item-select">
                    <div class="input-label">
                        My Gender
                    </div>
                    <select data-ng-options="item for item in gender" data-ng-model="userDetails.gender">
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Faculty
                    </div>
                    <select data-ng-options="item for item in faculties" data-ng-model="userDetails.faculty">
                    </select>
                </label>
                <label class="item">
                 <span class="input-label">Age: {{userDetails.age}}</span>
                    <div class="range">
                    <i>13</i>
                        <input type="range" name="age" ng-model="userDetails.age" min="13" max="37" value="25">
                    <i>37</i>
                  </div>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        I'm Interested in...
                    </div>
                    <select data-ng-options="item for item in preferredGender" data-ng-model="userDetails.genderPreferences">
                    </select>
                </label>
            </div>

            <div class="card" ng-click="onTapProfilePicture()">
                <div style="text-align:center" class="item item-divider">
                    Tap to add your profile picture
                </div>
                <div class="item item-text-wrap">
                    <div align="center" class="bigProfilePicture">
                        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
                        <img ng-show="imgURI === undefined" ng-src="{{(userDetails.gender == 'MALE') ? ('img/generic_profile/male.jpg') : ('img/generic_profile/female.jpg')}}" >
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="registrationCompleted">
            <div align="center">
                <h2 style="color:white">Registration to studate completed successfully</h2>
                <h2 style="color:white">Start using stuDate!</h2>
            </div>
        </div>

    </ion-content>

    <ion-footer-bar style="height: 12% !important;" class="background">
        <div class="button-bar" ng-hide="registrationCompleted">
            <a class="button button-large button-block button-balanced icon-left ion-upload" ng-click="signUpUser()">
                <h3 style="color: #ffffff">Sign-Up to Studate!</h3>
            </a>
        </div>
    </ion-footer-bar>
</ion-view>
