<ion-view title="TAU Authentication" class="background">

    <ion-content direction="y" padding="true" scroll="true" has-bouncing="true">    

    <div class="list card" ng-hide="hideTauAuthenticaton">
        
        <div style="text-align:center">
            <h2><b>Welcome to stuDate!</b></h2>
            <h4>Are you a real TAU student?</h4>
        </div>
        
        <div class="item item-body">

            <div style="text-align:justify">
                <p>We will now verify you are indeed a TAU student, using the university's authentication system.
                    <br><br>
                    Notice - The authentication is secure and stuDate does not have access to any of your credentials at any point.
                    <br><br>
                    The authentication will be done by following these steps:</p>
            </div>

            <div class="list">
              <h2 class="item item-icon-left">
                <i class="icon ion-arrow-right-b"></i>
                <b>Press the button below.</b> <hr>Opens the familiar TAU authetication page
              </h2>
              <h2 class="item item-icon-left">
                <i class="icon ion-arrow-right-b"></i>
                <img src="img\tauLogo.png" style="width:10%;height:1%">
                <b>Enter your TAU credentials.</b> 
                <hr>i.e. your username, id and password
              </h2>
              <h2 class="item item-icon-left">
                <i class="icon ion-arrow-right-b"></i>
                <b>Allow stuDate to just know who you are.</b> 
                <hr>stuDate only has access to your name and does not have access to any of your credentials at any point.
              </h2>
            </div>

            <button class="button button-block button-dark icon-left ion-thumbsup" ng-click="loginToStudateFromButton()">
                Log in to TAU
            </button>
        </div>

    </div>

    </ion-content>
</ion-view>