
<ion-view title="Welcome!" hide-back-button="true">
  
  <ion-content
      padding="true"
      scroll="false">

      <ion-slide-box style="width:100%;height:100%">
        <ion-slide>
          <div align="center" class="box red" style="width:100%;height:100%">
            <img src="img\tutorial\1.jpg" style="width:95%;height:90%;">
          </div>
        </ion-slide>
        <ion-slide>
          <div align="center" class="box red" style="width:100%;height:100%">
            <h3 style="text-align:center;color:gray">Browse your peers</h3>
            <p style="text-align:center">
            Like / Dislike possible matches<br>
            You can also swipe down to decide later</p>
            <img src="img\tutorial\home.jpg" style="width:80%;height:80%">
          </div>
        </ion-slide>
        <ion-slide>
          <div align="center" class="box red" style="width:100%;height:100%">
            <h3 style="text-align:center;color:gray">Get available!</h3>
            <p style="text-align:center">
            When on campus, use the toggle to declare you are 
            available to meet your matches</p>
            <img src="img\tutorial\available.jpg" style="width:80%;height:80%">
          </div>
        </ion-slide>
        <ion-slide>
          <div align="center" class="box red" style="width:100%;height:100%">
            <h3 style="text-align:center;color:gray">Meet Up!</h3>
            <p style="text-align:center">
              Once surprised with a date, all that's left is
              to coordinate a location and meet up</p>
            <img src="img\tutorial\meeting.jpg" style="width:80%;height:80%">
          </div>
        </ion-slide>
        <ion-slide>
          <div align="center" class="box red" style="width:100%;height:100%">
            <img src="img\tutorial\10.jpg" style="width:95%;height:80%">
            <button class="button button-block button-assertive icon-right ion-arrow-right-a" ng-click="finishIntroduction()">
              All right! Start using stuDate
            </button>
          </div>
        </ion-slide>
      </ion-slide-box>

  </ion-content>
</ion-view>